n8n/workflows/daily-video-generation.json
{
  "name": "Daily Video Generation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hour",
              "value": 8
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://auto-socials:3000/api/generate",
        "options": {}
      },
      "id": "http-request",
      "name": "Generate Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://auto-socials:3000/api/distribute",
        "options": {}
      },
      "id": "http-request-2",
      "name": "Distribute Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "{{ $env.TELEGRAM_CHAT_ID }}",
        "text": "🎬 Daily Video Generation Complete!\n\n📊 Generated: {{ $json.videos }} videos\n📤 Distributed: {{ $json.posts }} posts\n\n✅ All done for today!",
        "additionalFields": {}
      },
      "id": "telegram",
      "name": "Send Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Generate Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Videos": {
      "main": [
        [
          {
            "node": "Distribute Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Distribute Videos": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
} 